<%: func AuthSigninList(auths auth.Records, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div id="signin-card" class="uk-card uk-card-body uk-card-default">
  <h3 class="uk-card-title">
    <a class="right theme uk-icon-button" data-uk-icon="question" href="" onclick="return modal.open('auth');" title="sign in information"></a>
    Sign In
  </h3>
  <ul class="uk-list uk-list-divider uk-margin-top">
    <% for _, p := range ctx.App.Auth().EnabledProviders { %>
      <%
        var curr auth.Records
        for _, a := range auths {
          if a.Provider == p {
            curr = append(curr, a)
          }
        }
      %>
      <% AuthSigninLink(p, curr, ctx, buffer) %>
    <% } %>
  </ul>
  <div id="modal-auth" class="modal" data-uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
      <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Signing in</h2>
      </div>
      <div class="uk-modal-body" data-uk-overflow-auto>
        <p>You can sign in with <%= npncore.OxfordComma(ctx.App.Auth().EnabledProviders.Names(), "and") %></p>
        <p>We store your email address and a link to your profile picture</p>
        <p>This information is only used to let you control access to your stuff</p>
        <p>We don't send you any mail or push notifications or anything shady</p>
      </div>
    </div>
  </div>
</div>
