<%: func Profile(auths auth.Records, ref string, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-match uk-grid-small" data-uk-grid>
      <%
        var width = "1-1"
        if ctx.App.Auth().Enabled() {
          width = "2-3"
        }
      %>
      <div class="uk-width-<%= width %>@m">
        <div id="profile-card" class="uk-card uk-card-body uk-card-default">
          <h3 class="uk-card-title">Profile</h3>
          <form class="uk-form-horizontal" action="<%= ctx.Route(`profile.save`) %>" method="post">
            <input type="hidden" name="ref" value="<%= ref %>" />
            <div class="uk-margin">
              <label class="uk-form-label" for="username">Username</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="username" name="username" type="text" value="<%= ctx.Profile.Name %>" />
              </div>
            </div>

            <div class="uk-margin">
              <label class="uk-form-label">Theme</label>
              <% for _, t := range npnuser.AllThemes { %>
              <div class="uk-form-controls uk-form-controls-text">
                <label for="theme-<%= t.String() %>">
                  <% if t == ctx.Profile.Theme { %>
                  <input class="uk-radio" id="theme-<%= t.String() %>" name="<%= npncore.KeyTheme %>" type="radio" onchange="if (this.checked) { window.setTheme(this.value); }" value="<%= t.String() %>" checked="checked" />
                  <% } else { %>
                  <input class="uk-radio" id="theme-<%= t.String() %>" name="<%= npncore.KeyTheme %>" type="radio" onchange="if (this.checked) { window.setTheme(this.value); }" value="<%= t.String() %>" />
                  <% } %>
                  <%= t.String() %>
                </label>
              </div>
              <% } %>
            </div>

            <% ProfileColors("nav", "Nav", ctx.Profile.Settings.NavColor, _buffer) %>
            <% ProfileColors("link", "Link", ctx.Profile.Settings.LinkColor, _buffer) %>

            <div class="mt">
              <button class="right uk-button uk-button-default mt" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
      <% if ctx.App.Auth().Enabled() { %>
        <div class="uk-width-1-3@m">
          <% AuthSigninList(auths, ctx, _buffer) %>
        </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  function setNavColor(el, c) {
    document.getElementById("nav-color").value = c;
    const nb = document.getElementById("navbar");
    nb.className = `${c}-bg uk-navbar-container uk-navbar`;
    const colors = document.querySelectorAll(".nav_swatch");
    colors.forEach(function (i) {
      i.classList.remove("active");
    });
    el.classList.add("active");
  }

  function setLinkColor(el, c) {
    document.getElementById("link-color").value = c;
    const links = document.querySelectorAll(".profile-link");
    links.forEach(l => {
      l.classList.forEach(x => {
        if (x.indexOf("-fg") > -1) {
          l.classList.remove(x);
        }
        l.classList.add(`${c}-fg`);
      });
    });
    const colors = document.querySelectorAll(".link_swatch");
    colors.forEach(function (i) {
      i.classList.remove("active");
    });
    el.classList.add("active");
  }

  function setPicture(p) {
    document.getElementById("self-picture-input").value = p;
  }
</script>
<% } %>
