<%: func InitialNav(ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
      <div class="nav-section">
        <form class="uk-search uk-search-default" onsubmit="console.log('Search!');return false;">
          <button class="uk-search-icon-flip" type="submit" data-uk-search-icon></button>
          <input class="uk-search-input" type="text" name="q" placeholder="Search" />
        </form>
      </div>
      <div class="nav-section mt">
        <div class="nav-header">
          Collections
        </div>
        <div class="nav-list collection-list">
          <em>Loading</em>
        </div>
      </div>
      <div class="nav-section mt">
        <div class="nav-header">System</div>
        <div class="nav-list">
          <div class="nav-item"><a class="theme" href="<%= ctx.Route(`system`) %>"><span class="nav-icon" data-uk-icon="icon: cog"></span>System</a></div>
          <div class="nav-item"><a class="theme" href="" onclick="log.toggle();return false;"><span class="nav-icon" data-uk-icon="icon: list"></span>Toggle Log</a></div>
          <div class="nav-item"><a class="theme" href="" onclick="npn.debug();return false;"><span class="nav-icon" data-uk-icon="icon: bolt"></span>Debug</a></div>
          <div class="nav-item"><a class="theme" href="" onclick="npn.testbed();return false;"><span class="nav-icon" data-uk-icon="icon: code"></span>Testbed</a></div>
        </div>
      </div>
