<%: func Workspace(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ head { %><% npntemplate.Init(npncore.AppKey, npncore.UUID(), _buffer) %><% } %>
<%@ nav { %><% npntemplate.NavbarCommon("", true, ctx, _buffer) %><% } %>
<%@ body { %>
<div id="nav-left" class="uk-visible@m">
  <% InitialNav(ctx, _buffer) %>
</div>
<div id="workspace-content">
    <div class="uk-section uk-section-small">
    <div class="uk-container uk-container-small uk-position-relative">
      <% WelcomePanel(ctx, _buffer) %>
      <div id="collection-panel" class="hidden"></div>
      <div id="request-panel" class="uk-card uk-card-body uk-card-default uk-margin-top hidden">
        <div class="right"><a class="theme uk-icon" data-uk-icon="close" href="" onclick="nav.pop();return false;" title="close request"></a></div>
        <h3 id="active-request-title" class="uk-card-title">Active Request</h3>
        <div id="active-request" class="uk-margin-top"></div>
      </div>
      <div id="action-panel" class="uk-card uk-card-body uk-card-default uk-margin-top hidden">
        <div class="right"><a class="theme uk-icon" data-uk-icon="close" href="" onclick="nav.navActiveRequest();return false;" title="close action"></a></div>
        <div id="request-action" class="uk-margin-top"></div>
      </div>
    </div>
  </div>
</div>
<div id="log-container" class="hidden">
  <div id="log-content">
    <ul id="log-list" class="uk-list uk-list-divider"></ul>
  </div>
</div>
<div id="nav-offcanvas" data-uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">
    <% InitialNav(ctx, _buffer) %>
  </div>
</div>
<% } %>
