<%: func RequestDetail(collection string, req *request.Request, result *call.Result, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <% RequestPanel(req, ctx, _buffer) %>
    <% RequestActions(collection, req, ctx, _buffer) %>
    <% if result != nil { %><% CallResultPanel(result, ctx, _buffer) %><% } %>
  </div>
</div>
<% } %>
