<%: func DebugRequestFinalHeaders(excluded []string, headers header.Headers, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<% if len(excluded) > 0 { %>
  <div class="uk-card uk-card-body uk-margin-top">
    <h3 class="uk-card-title">Excluded Default Headers</h3>
    <ul class="uk-list uk-list-divider">
      <% for _, h := range excluded { %>
        <li><%= h %></li>
      <% } %>
    </ul>
  </div>
<% } %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">Final Headers</h3>
  <ul class="uk-list uk-list-divider">
    <% if len(headers) == 0 { %>
      <li>no headers</li>
    <% } %>
    <% for _, h := range headers { %>
      <li><%= h.Key %> = <%= h.Value %></li>
    <% } %>
  </ul>
</div>
