<%: func RequestForm(collection string, req *request.Request, result *call.Result, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">
        <% if len(req.Key) == 0 { %>
          New Request
        <% } else { %>
          Edit Request
        <% } %>
      </h3>
      <form class="uk-form-stacked" action="<%= ctx.Route(`request.save`, `c`, collection, npncore.KeyKey, req.Key) %>" method="post">
        <input type="hidden" name="coll" value="<%= collection %>" />
        <input type="hidden" name="originalKey" value="<%= req.Key %>" />
        <fieldset class="uk-fieldset">
          <legend class="hidden">request form</legend>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="key">Key</label>
            <input class="uk-input" id="key" name="key" type="text" value="<%= req.Key %>" />
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="title">Title</label>
            <input class="uk-input" id="title" name="title" type="text" value="<%= req.Title %>" />
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="description">Description</label>
            <input class="uk-input" id="description" name="description" type="text" value="<%= req.Description %>" />
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="method">Method</label>
            <select class="uk-select" id="method" name="method">
            <% for _, m := range request.AllMethods { %>
              <% if m.Key == req.Prototype.Method.Key { %>
                <option selected="selected"><%= m.Key %></option>
              <% } else { %>
                <option><%= m.Key %></option>
              <% } %>
            <% } %>
            </select>
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="url">URL</label>
            <input class="uk-input" id="url" name="url" type="text" value="<%= req.Prototype.URLString() %>" />
          </div>

          <div class="uk-margin-top">
            <button class="right uk-button uk-button-default uk-margin-top" type="submit">Save Changes</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<% } %>
