<%: func RequestPanel(coll string, req *request.Request, ctx *npnweb.RequestContext, cssClass string, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body <%= cssClass %>">
  <div class="right">
    <a class="theme uk-icon-button" data-uk-icon="file-text" href="<%= ctx.Route(`request.edit`, `c`, coll, npncore.KeyKey, req.Key) %>" title="edit request"></a>
  </div>
  <h3 class="uk-card-title"><%= req.TitleWithFallback() %></h3>
  <p><%= req.Prototype.URLString() %></p>
  <p><% for _, p := range req.Prototype.URLParts() { %><span title="<%= p.Key %>" class="<%= request.URLColor(p.Key) %>"><%= p.Value %></span><% } %></p>
  <% npntemplate.DebugPanel(req, ctx.Logger, buffer) %>
</div>
