<%: func TestList(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <ul class="uk-list uk-list-divider">
      <li><a class="theme" href="/test/" data-bare-link="true">/</a> This page.</li>
      <li><a class="theme" href="/test/ip" data-bare-link="true">/ip</a> Returns Origin IP.</li>
      <li><a class="theme" href="/test/user-agent" data-bare-link="true">/user-agent</a> Returns user-agent.</li>
      <li><a class="theme" href="/test/headers" data-bare-link="true">/headers</a> Returns header dict.</li>
      <li><a class="theme" href="/test/get" data-bare-link="true">/get</a> Returns GET data.</li>
      <li><em>/post</em> Returns POST data.</li>
      <li><em>/patch</em> Returns PATCH data.</li>
      <li><em>/put</em> Returns PUT data.</li>
      <li><em>/delete</em> Returns DELETE data</li>
      <li><a class="theme" href="/test/encoding/utf8">/encoding/utf8</a> Returns page containing UTF-8 data.</li>
      <li><a class="theme" href="/test/gzip" data-bare-link="true">/gzip</a> Returns gzip-encoded data.</li>
      <li><a class="theme" href="/test/deflate" data-bare-link="true">/deflate</a> Returns deflate-encoded data.</li>
      <li><a class="theme" href="/test/status/418">/status/:code</a> Returns given HTTP Status code.</li>
      <li><a class="theme" href="/test/response-headers?Server=httpbin&amp;Content-Type=text%2Fplain%3B+charset%3DUTF-8">/response-headers?key=val</a> Returns given response headers.</li>
      <li><a class="theme" href="/test/redirect/6">/redirect/:n</a> 302 Redirects <em>n</em> times.</li>
      <li><a class="theme" href="/test/redirect-to?url=http%3A%2F%2Fexample.com%2F">/redirect-to?url=foo</a> 302 Redirects to the <em>foo</em> URL.</li>
      <li><a class="theme" href="/test/redirect-to?status_code=307&amp;url=http%3A%2F%2Fexample.com%2F">/redirect-to?url=foo&status_code=307</a> 307 Redirects to the <em>foo</em> URL.</li>
      <li><a class="theme" href="/test/relative-redirect/6">/relative-redirect/:n</a> 302 Relative redirects <em>n</em> times.</li>
      <li><a class="theme" href="/test/absolute-redirect/6">/absolute-redirect/:n</a> 302 Absolute redirects <em>n</em> times.</li>
      <li><a class="theme" href="/test/cookies" data-bare-link="true">/cookies</a> Returns cookie data.</li>
      <li><a class="theme" href="/test/cookies/set?k1=v1&amp;k2=v2">/cookies/set?name=value</a> Sets one or more simple cookies.</li>
      <li><a class="theme" href="/test/cookies/delete?k1=&amp;k2=">/cookies/delete?name</a> Deletes one or more simple cookies.</li>
      <li><a class="theme" href="/test/basic-auth/user/passwd">/basic-auth/:user/:passwd</a> Challenges HTTPBasic Auth.</li>
      <li><a class="theme" href="/test/hidden-basic-auth/user/passwd">/hidden-basic-auth/:user/:passwd</a> 404'd BasicAuth.</li>
      <li><a class="theme" href="/test/digest-auth/auth/user/passwd/MD5">/digest-auth/:qop/:user/:passwd/:algorithm</a> Challenges HTTP Digest Auth.</li>
      <li><a class="theme" href="/test/digest-auth/auth/user/passwd/MD5">/digest-auth/:qop/:user/:passwd</a> Challenges HTTP Digest Auth.</li>
      <li><a class="theme" href="/test/stream/20">/stream/:n</a> Streams <em>min(n, 100)</em> lines.</li>
      <li><a class="theme" href="/test/delay/3">/delay/:n</a> Delays responding for <em>min(n, 10)</em> seconds.</li>
      <li><a class="theme" href="/test/drip?code=200&amp;numbytes=5&amp;duration=5">/drip?numbytes=n&amp;duration=s&amp;delay=s&amp;code=code</a> Drips data over a duration after an optional initial delay, then (optionally) returns with the given status code.</li>
      <li><a class="theme" href="/test/range/1024">/range/1024?duration=s&amp;chunk_size=code</a> Streams <em>n</em> bytes, and allows specifying a <em>Range</em> header to select a subset of the data. Accepts a <em>chunk_size</em> and request <em>duration</em> parameter.</li>
      <li><a class="theme" href="/test/html" data-bare-link="true">/html</a> Renders an HTML Page.</li>
      <li><a class="theme" href="/test/robots.txt" data-bare-link="true">/robots.txt</a> Returns some robots.txt rules.</li>
      <li><a class="theme" href="/test/deny" data-bare-link="true">/deny</a> Denied by robots.txt file.</li>
      <li><a class="theme" href="/test/cache" data-bare-link="true">/cache</a> Returns 200 unless an If-Modified-Since or If-None-Match header is provided, when it returns a 304.</li>
      <li><a class="theme" href="/test/etag/etag">/etag/:etag</a> Assumes the resource has the given etag and responds to If-None-Match header with a 200 or 304 and If-Match with a 200 or 412 as appropriate.</li>
      <li><a class="theme" href="/test/cache/60">/cache/:n</a> Sets a Cache-Control header for <em>n</em> seconds.</li>
      <li><a class="theme" href="/test/bytes/1024">/bytes/:n</a> Generates <em>n</em> random bytes of binary data, accepts optional <em>seed</em> integer parameter.</li>
      <li><a class="theme" href="/test/stream-bytes/1024">/stream-bytes/:n</a> Streams <em>n</em> random bytes of binary data, accepts optional <em>seed</em> and <em>chunk_size</em> integer parameters.</li>
      <li><a class="theme" href="/test/links/10">/links/:n</a> Returns page containing <em>n</em> HTML links.</li>
      <li><a class="theme" href="/test/image">/image</a> Returns page containing an image based on sent Accept header.</li>
      <li><a class="theme" href="/test/image/png">/image/png</a> Returns a PNG image.</li>
      <li><a class="theme" href="/test/image/jpeg">/image/jpeg</a> Returns a JPEG image.</li>
      <li><a class="theme" href="/test/image/webp">/image/webp</a> Returns a WEBP image.</li>
      <li><a class="theme" href="/test/image/svg">/image/svg</a> Returns a SVG image.</li>
      <li><a class="theme" href="/test/forms/post" data-bare-link="true">/forms/post</a> HTML form that submits to <em>/post</em></li>
      <li><a class="theme" href="/test/xml" data-bare-link="true">/xml</a> Returns some XML</li>
    </ul>
  </div>
</div>
<% } %>
