<%: func RequestTransform(proto *request.Prototype, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Request Transformations</h3>
    </div>
    <% for _, tx := range transform.AllTransformers { %>
      <div class="uk-card uk-card-body uk-card-default mt">
        <h3 class="uk-card-title"><%= tx.Key() %></h3>
        <% res, err := tx.Transform(proto) %>
        <% if err == nil { %>
          <pre><code><%= res.Out %></code></pre>
        <% } else { %>
          <div>ERROR: <%= err.Error() %></div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
<% } %>
