/.vscode
/.idea
/.scannerwork
build
/data
/gen
/npntemplate/gen
/tmp

node_modules

xcuserdata
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser

/projects/macos/npn/npn/npn-server
