<%: func FileBrowse(dir []string, files []os.FileInfo, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title"><a class="theme" href="<%= ctx.Route(npncore.KeyFile) %>">/</a><%= strings.Join(dir, "/") %></h3>
      <table class="uk-table uk-table-divider">
        <caption class="hidden">file listing</caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
          </tr>
        </thead>
        <tbody>
          <% for _, file := range files { %>
            <tr>
              <td>
                <a class="theme" href="<%= ctx.Route(npncore.KeyFile) %><%= strings.Join(append(dir, file.Name()), `/`) %>">
                  <%
                  icon := "file-text"
                  if file.IsDir() {
                    icon = "folder"
                  }
                  %><span data-uk-icon="icon: <%= icon %>"c class="uk-margin-small-right"></span><%= file.Name() %>
                </a>
              </td>
              <td class="uk-table-shrink uk-text-nowrap">
                <% if !file.IsDir() { %>
                  <%=v file.Size() %>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
