<!DOCTYPE html>
<html lang="en">
<head>
<% npntemplate.Head(ctx, _buffer) %>
<style>
  .nav-b { background-color: <%= ctx.Profile.Settings.NavB %> !important; }
  .nav-f { color: <%= ctx.Profile.Settings.NavF %> !important; }
  .body-b { background-color: <%= ctx.Profile.Settings.BodyB %> !important; }
  .body-l { color: <%= ctx.Profile.Settings.BodyL %> !important; }
</style>
</head>
<body class="body-b">
<%@ nav { %><% } %>
<div id="content" data-uk-height-viewport="expand: true"><% npntemplate.Flash(ctx, _buffer) %><%@ body { %><% } %></div></body>
</html>
