<%: func ConnectionTable(connections  npnconnection.Statuses, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<table class="uk-table uk-table-divider uk-text-left">
  <caption class="hidden">connection</caption>
  <thead>
    <tr>
      <% TableHeader(npncore.KeyConnection, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% TableHeader(npncore.KeyConnection, npncore.WithID(npncore.KeyUser), npncore.Title(npncore.KeyUser), params, ctx.Request, buffer) %>
      <% TableHeader(npncore.KeyConnection, npncore.KeyName, "Name", params, ctx.Request, buffer) %>
      <% TableHeader(npncore.KeyConnection, "channel", "Channel", params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range connections { %>
    <tr>
      <td><a href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyConnection, npncore.KeyDetail), `id`, model.ID.String()) %>"><% UUID(&model.ID, buffer) %></a></td>
      <td><a href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% UUID(&model.UserID, buffer) %></a></td>
      <td><%= model.Username %></td>
      <td><% Channel(model.ChannelSvc, model.ChannelID, ctx, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
