<%: func SchemaComponents(sch *schema.Schema, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<% SchemaValidationList(sch.Validate(), ctx, buffer) %>
<% SchemaMetadataDetail(sch.Metadata, ctx, buffer) %>

<% SchemaPathList(sch.Paths, ctx, buffer) %>
<% SchemaErrorList(sch.Errors, ctx, buffer) %>

<% SchemaOptionList(sch.Options, ctx, buffer) %>
<% SchemaScalarList(sch.Scalars, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeEnum, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeInput, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeStruct, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeInterface, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeService, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeUnion, ctx, buffer) %>
<% SchemaModelList(sch.Key, sch.Models, schema.ModelTypeIntersection, ctx, buffer) %>
