<%: func SchemaEnumList(sch string, enums schema.Enums, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<% if len(enums) > 0 { %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">Enums</h3>
  <table class="uk-table uk-table-divider">
    <tbody>
      <% for _, e := range enums { %>
        <tr>
          <td><a class="theme" href="<%= ctx.Route(util.KeySchema + `.enum`, util.KeyKey, sch, `e`, e.Key) %>"><%= e.Key %></a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>
