<%: func SchemaList(schemata []string, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">Schema List</h3>
      <% if len(schemata) == 0 { %>
        <div>No saved <%= util.PluralTitle(util.KeySchema) %></div>
      <% } else { %>
        <table class="uk-table uk-table-divider">
          <tbody>
            <% for _, s := range schemata { %>
              <tr>
                <td><a class="theme" href="<%= ctx.Route(util.KeySchema + `.detail`, `key`, s) %>"><%= s %></a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
    </div>
  </div>
</div>
<% } %>
