<%: func SchemaModelList(sch string, models schema.Models, t schema.ModelType, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<% models = models.ByType(t) %>
<% if len(models) > 0 { %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">
    <%=v len(models) %><%= " " + t.Title %>
  </h3>
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th>Key</th>
        <% if models.HasField() { %>
          <th>Fields</th>
        <% } %>
        <% if models.HasIndex() { %>
          <th>Indexes</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for _, m := range models { %>
        <tr>
          <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.KeySchema + `.model`, util.KeyKey, sch, `m`, m.ID()) %>"><%= m.Pkg.StringWith(m.Key) %></a></td>
          <td class="uk-table-shrink uk-text-nowrap">
            <% if len(m.Fields) > 0 { %>
              <a class="theme" href="" onclick="return dom.switchElements(this, '#<%= m.Key %>-field-list', true);"><%=v len(m.Fields) %></a>
              <ul id="<%= m.Key %>-field-list" class="uk-list uk-list-divider hidden" style="margin: 0;">
                <% for _, field := range m.Fields { %>
                  <% if t == schema.ModelTypeEnum { %>
                    <li><%= field.Key %></li>
                  <% } else if t == schema.ModelTypeUnion { %>
                    <li><%= field.Type.String() %></li>
                  <% } else { %>
                    <li><%= field.String() %></li>
                  <% } %>
                <% } %>
              </ul>
            <% } %>
          </td>
          <td class="uk-table-shrink uk-text-nowrap">
            <% if len(m.Indexes) > 0 { %>
              <a class="theme" href="" onclick="return dom.switchElements(this, '#<%= m.Key %>-index-list');"><%=v len(m.Indexes) %></a>
              <ul id="<%= m.Key %>-index-list" class="uk-list uk-list-divider hidden" style="margin: 0;">
                <% for _, idx := range m.Indexes { %>
                  <li><%= idx.String() %></li>
                <% } %>
              </ul>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>
