<%: func SchemaModelDetail(sch *schema.Schema, m *schema.Model, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= m.Key %></h3>
    </div>

    <% SchemaMetadataDetail(m.Metadata, ctx, _buffer) %>

    <% if len(m.Fields) > 0 { %>
      <div class="uk-card uk-card-body uk-margin-top">
        <h3 class="uk-card-title">Fields</h3>
        <table class="uk-table uk-table-divider">
          <thead>
          <tr>
            <th>Key</th>
            <th>Type</th>
            <th>Signature</th>
          </tr>
          </thead>
          <tbody>
          <% for _, f := range m.Fields { %>
            <tr>
              <td><%= f.Key %></td>
              <td><%= f.Type.Key() %></td>
              <td><%= f.Type.String() %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    <% } %>

    <% if len(m.Interfaces) > 0 { %>
      <div class="uk-card uk-card-body uk-margin-top">
        <h3 class="uk-card-title">Interfaces</h3>
        <table class="uk-table uk-table-divider">
          <thead>
          <tr>
            <th>Key</th>
          </tr>
          </thead>
          <tbody>
          <% for _, iface := range m.Interfaces { %>
            <tr>
              <td><%= iface %></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    <% } %>

    <div class="uk-card uk-card-body uk-margin-top">
      <h3 class="uk-card-title">JSON</h3>
      <pre><%= util.ToJSON(m, ctx.Logger) %></pre>
    </div>
  </div>
</div>
<% } %>
