<%: func SchemaScalarList(scalars schema.Scalars, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<% if len(scalars) > 0 { %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title"><%=v len(scalars) %> Scalars</h3>
  <table class="uk-table uk-table-divider">
    <caption class="hidden">scalar list</caption>
    <tbody>
      <% for _, scalar := range scalars { %>
        <tr>
          <td class="uk-table-shrink uk-text-nowrap"><%= scalar.Pkg.StringWith(scalar.Key) %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>
