<%: func SchemaServiceDetail(sch *schema.Schema, svc *schema.Service, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= svc.Key %></h3>
      <p><%=v svc %></p>
    </div>

    <div class="uk-card uk-card-body uk-margin-top">
      <h3 class="uk-card-title">JSON</h3>
      <pre><%= util.ToJSON(svc, ctx.Logger) %></pre>
    </div>
  </div>
</div>
<% } %>
