<%: func SchemaUnionDetail(sch *schema.Schema, u *schema.Union, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= u.Key %></h3>
      <p><%=v u %></p>
    </div>

    <% SchemaMetadataDetail(u.Metadata, ctx, _buffer) %>

    <div class="uk-card uk-card-body uk-margin-top">
      <h3 class="uk-card-title">JSON</h3>
      <pre><%= util.ToJSON(u, ctx.Logger) %></pre>
    </div>
  </div>
</div>
<% } %>
