<%: func SchemaUnionList(sch string, unions schema.Unions, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<% if len(unions) > 0 { %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">Unions</h3>
  <table class="uk-table uk-table-divider">
    <tbody>
      <% for _, u := range unions { %>
        <tr>
          <td><a class="theme" href="<%= ctx.Route(util.KeySchema + `.union`, util.KeyKey, sch, `u`, u.Key) %>"><%= u.Key %></a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>
