<%: func SchemaValidationList(res *schema.ValidationResult, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<% if len(res.Messages) > 0 { %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">Validation Results</h3>
  <table class="uk-table uk-table-divider">
    <tbody>
    <% for _, r := range res.Messages { %>
      <%
        var color = ""
        if r.Level == schema.LevelInfo {
          color = "green-fg"
        } else if r.Level == schema.LevelWarn {
          color = "yellow-fg"
        } else if r.Level == schema.LevelError {
          color = "red-fg"
        }
      %>
      <tr>
        <td class="uk-table-shrink uk-text-nowrap <%= color %>"><%= r.Category %></td>
        <td class="uk-table-shrink uk-text-nowrap <%= color %>"><%=v r.ModelKey %></td>
        <td class="<%= color %>"><%=v r.Msg %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
<% } %>
