<%: func FileBrowse(dir []string, files []os.FileInfo, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><a class="theme" href="<%= ctx.Route(util.KeyFile) %>">/</a><%= strings.Join(dir, "/") %></h3>
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <% for _, file := range files { %>
            <tr>
              <td>
                <a class="theme" href="<%= ctx.Route(util.KeyFile) %><%= strings.Join(append(dir, file.Name()), `/`) %>">
                  <% if file.IsDir() { %>
                    <span data-uk-icon="icon: folder"></span>
                  <% } else { %>
                    <span data-uk-icon="icon: file-text"></span>
                  <% } %>
                  <%= file.Name() %>
                </a>
              </td>
              <td class="uk-table-shrink uk-text-nowrap">
                <% if !file.IsDir() { %>
                  <%=v file.Size() %>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
