<%: func GraphQLVoyager(root string, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
  <div id="<%= npncore.KeyVoyager %>" style="height: calc(100vh - 54px);"></div>
  <script src="/vendor/react/react.production.min.js"></script>
  <script src="/vendor/react/react-dom.production.min.js"></script>

  <link rel="stylesheet" media="screen" href="/vendor/graphql-voyager/voyager.css")>
  <script src="/vendor/graphql-voyager/voyager.min.js"></script>

  <script>
    function introspectionProvider(query) {
      return fetch('<%= ctx.Route(npnweb.AdminLink(npncore.KeyGraphQL)) %>', {
        method: 'post',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({query: query}, null, 2),
      }).then(response => response.json());
    }

    GraphQLVoyager.init(document.getElementById('<%= npncore.KeyVoyager %>'), {introspection: introspectionProvider, displayOptions: { rootType: '<%= root %>' }})
  </script>
<% } %>
