<%: func ProjectOutput(ar task.OutputResults, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-margin-top">
  <h3 class="uk-card-title">Output</h3>
  <ul data-uk-accordion="multiple: true">
    <% for _, ao := range ar { %>
    <li>
      <a class="uk-accordion-title" href="#">
        <% if ao.File == nil { %>System<% } else { %><%= ao.File.Path() %><% } %>
        <% if ao.Written { %>
        <br />
        <em><%= ao.Message %></em>
        <% } %>
      </a>
      <div class="uk-accordion-content">
        <pre><% if ao.File == nil { %>TODO<% } else { %><%= strings.Join(ao.File.Render(), "\n") %><% } %></pre>
      </div>
    </li>
    <% } %>
  </ul>
</div>

