<%: func ProjectSummary(project *project.Project, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body">
  <div class="right"><a class="theme" href="<%= ctx.Route(`project.edit`, npncore.KeyKey, project.Key) %>" data-uk-icon="icon: file-edit" title="Edit project"></a></div>
  <h3 class="uk-card-title"><%= project.Title %></h3>
  <table class="uk-table uk-table-divider uk-table-small">
    <caption class="hidden">project detail</caption>
    <tbody>
      <tr>
        <td class="uk-table-shrink uk-text-nowrap">Schemata</td>
        <td>
          <ul class="uk-list uk-list-divider">
            <% if len(project.SchemaKeys) == 0 { %>
              <li>no schemata</li>
            <% } %>
            <% for _, sch := range project.SchemaKeys { %>
              <li><a class="theme" href="<%= ctx.Route(`schema.detail`, npncore.KeyKey, sch) %>"><%= sch %></a></li>
            <% } %>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="uk-table-shrink uk-text-nowrap">Models</td>
        <td>
          <a class="theme" href="<%= ctx.Route(`project.models`, npncore.KeyKey, project.Key) %>"><%=v len(project.Models) %> models</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
