<%: func TableHeader(section string, key string, title string, params *npncore.Params, req *url.URL, buffer *bytes.Buffer) %>
<% if params == nil { %>
  <% params = &npncore.Params{Key: section} %>
  <th class="uk-transition-toggle uk-text-nowrap">
    <a class="theme" href="?<%= params.CloneOrdering(&npncore.Ordering{Column: key, Asc: true}).ToQueryString(req) %>">
      <%= title %> <span class="uk-transition-fade" data-uk-icon="icon: chevron-down"></span>
    </a>
  </th>
<% } else { %>
  <% o := params.GetOrdering(key) %>
  <% if o == nil { %>
    <th class="uk-transition-toggle uk-text-nowrap">
      <a class="theme" href="?<%= params.CloneOrdering(&npncore.Ordering{Column: key, Asc: true}).ToQueryString(req) %>">
        <%= title %> <span class="uk-transition-fade" data-uk-icon="icon: chevron-down"></span>
      </a>
    </th>
  <% } else if o.Asc { %>
    <th class=" uk-text-nowrap">
      <a class="theme" href="?<%= params.CloneOrdering(&npncore.Ordering{Column: key, Asc: false}).ToQueryString(req) %>">
        <%= title %> <span data-uk-icon="icon: chevron-down"></span>
      </a>
    </th>
  <% } else { %>
    <th class=" uk-text-nowrap">
      <a class="theme" href="?<%= params.CloneOrdering(&npncore.Ordering{Column: key, Asc: true}).ToQueryString(req) %>">
        <%= title %>
        <span data-uk-icon="icon: chevron-up"></span>
      </a>
    </th>
  <% } %>
<% } %>
