<%: func CollectionDetail(c *collection.Collection, requests request.Requests, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <div class="right">
        <a class="theme uk-icon-button" data-uk-icon="file-text" href="<%= ctx.Route(`collection.edit`, `c`, c.Key) %>" title="edit collection"></a>
      </div>
      <h3 class="uk-card-title"><%= c.TitleWithFallback() %></h3>
      <% if len(c.Description) > 0 { %>
        <p><%= c.Description %></p>
      <% } %>
    </div>
    <div class="uk-card uk-card-body uk-margin-top">
      <div class="right">
        <a class="theme uk-icon-button" data-uk-icon="plus" href="<%= ctx.Route(`request.new`, `c`, c.Key) %>" title="new request"></a>
      </div>
      <h3 class="uk-card-title">Requests</h3>
      <ul class="uk-list uk-list-divider">
        <% if len(requests) == 0 { %>
          <li>no requests</li>
        <% } %>
        <% for _, req := range requests { %>
          <li><a class="theme" href="<%= ctx.Route(`request`, `c`, c.Key, npncore.KeyKey, req.Key) %>"><%= req.TitleWithFallback() %></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<% } %>
