<%: func CollectionForm(key string, c *collection.Collection, showUpload bool, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title"><% if showUpload { %>New Collection<% } else { %><%= c.TitleWithFallback() %><% } %></h3>
      <form class="uk-form-stacked" action="<%= ctx.Route(`collection.save`, `c`, key) %>" method="post">
        <fieldset class="uk-fieldset">
          <legend class="hidden">request form</legend>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="key">Key</label>
            <input class="uk-input" id="key" name="key" type="text" value="<%= c.Key %>" />
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="title">Title</label>
            <input class="uk-input" id="title" name="title" type="text" value="<%= c.Title %>" />
          </div>

          <div class="uk-margin-top">
            <label class="uk-form-label" for="description">Description</label>
            <input class="uk-input" id="description" name="description" type="text" value="<%= c.Description %>" />
          </div>

          <div class="uk-margin-top">
            <button class="right uk-button uk-button-default uk-margin-top" type="submit">Save Changes</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<% } %>
