<%: func CollectionList(collections collection.Collections, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <div class="right">
        <a class="theme uk-icon-button" data-uk-icon="plus" href="<%= ctx.Route(`collection.new`) %>" title="new collection"></a>
      </div>
      <h3 class="uk-card-title">Collections</h3>
      <ul class="uk-list uk-list-divider">
        <% for _, c := range collections { %>
          <li><a class="theme" title="<%= c.Description %>" href="<%= ctx.Route(`collection.detail`, `c`, c.Key) %>"><%= c.TitleWithFallback() %></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<% } %>
