<%: func Index(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">
        <span class="right">
          <a class="theme uk-icon-button uk-margin-left" data-uk-icon="question" href="<%= ctx.Route(`about`) %>" title="about <%= npncore.AppName %>"></a>
        </span>
        <%= npncore.AppName %>
      </h3>
      <p>Coming soon!</p>
    </div>
    <div class="uk-card uk-card-body uk-margin-top">
      <ul class="uk-list uk-list-divider">
        <li><a class="theme" href="<%= ctx.Route(`file.root`) %>">File System</a></li>
        <li><a class="theme" href="<%= ctx.Route(`datasource`) %>">Data Sources</a></li>
        <li><a class="theme" href="<%= ctx.Route(`schema`) %>">Schema</a></li>
        <li><a class="theme" href="<%= ctx.Route(`project`) %>">Projects</a></li>
      </ul>
    </div>
    <div class="uk-card uk-card-body uk-margin-top">
      <ul class="uk-list uk-list-divider">
        <li><a class="theme" href="<%= ctx.Route(npncore.KeySandbox) %>"><%= npncore.PluralTitle(npncore.KeySandbox) %></a></li>
        <li><a class="theme" href="<%= ctx.Route(npncore.KeyRoutes) %>">Routes</a></li>
        <li><a class="theme" href="<%= ctx.Route(npncore.KeyModules) %>">Modules</a></li>
      </ul>
    </div>
  </div>
</div>
<% } %>
