<%: func Index(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">
        <span class="right">
          <a class="theme uk-icon-button uk-margin-left" data-uk-icon="question" href="<%= ctx.Route(`about`) %>" title="about <%= npncore.AppName %>"></a>
        </span>
        <%= npncore.AppName %>
      </h3>
      <p>Coming soon!</p>
    </div>
    <div class="uk-grid-small uk-grid-match uk-child-width-expand@s" data-uk-grid>
      <div>
        <div class="uk-card uk-card-body uk-card-default uk-margin-top">
          <ul class="uk-list uk-list-divider">
            <li><a class="theme" href="<%= ctx.Route(`workspace`) %>">Workspace</a></li>
            <li><a class="theme" href="<%= ctx.Route(`collection`) %>">Collections</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default uk-margin-top">
          <ul class="uk-list uk-list-divider">
            <li><a class="theme" href="<%= ctx.Route(npncore.KeySandbox) %>"><%= npncore.PluralTitle(npncore.KeySandbox) %></a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyRoutes) %>">Routes</a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyModules) %>">Modules</a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyFile + `.root`) %>">File System</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
