<%: func MarketingPage(ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<style>
  .nav-b { background-color: <%= ctx.Profile.Settings.NavB %> !important; }
  .nav-f { color: <%= ctx.Profile.Settings.NavF %> !important; }
  .body-b { background-color: <%= ctx.Profile.Settings.BodyB %> !important; }
  .body-l { color: <%= ctx.Profile.Settings.BodyL %> !important; }
</style>
<% npntemplate.Navbar(ctx, buffer) %>
<div data-uk-height-viewport="expand: true">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-container-expand uk-position-relative">
      <div class="uk-card uk-card-body uk-card-default">
        <h3 class="uk-card-title"><a class="body-l" href="https://npn.dev">npn</a> helps you explore and test HTTP APIs, with a focus on speed and correctness</h3>
        <p>Click "Get Started" below to use a demo installation of npn, or <a class="body-l" href="/download">download</a> the application and use it locally.</p>
        <button class="mt uk-button uk-button-default" onclick="init(<%=v ctx.App.Debug() %>, true)">Get Started</button>
        <a class="mt ml uk-button uk-button-default" href="/download">Download</a>
      </div>
    </div>
  </div>
</div>
