<%: func SystemIndex(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">
        <%= npncore.AppName %>
      </h3>
    </div>
    <div class="uk-grid-small uk-grid-match uk-child-width-expand@s" data-uk-grid>
      <div>
        <div class="uk-card uk-card-body uk-card-default mt">
          <ul class="uk-list uk-list-divider">
            <li><a class="theme" href="<%= ctx.Route(`collection`) %>">Collections</a></li>
            <li><a class="theme" href="<%= ctx.Route(`import.form`) %>">Import</a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyTest) %>">HTTP Tests</a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyFile + `.root`) %>">File System</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body uk-card-default mt">
          <ul class="uk-list uk-list-divider">
            <li><a class="theme" href="<%= ctx.Route(npncore.KeySandbox) %>"><%= npncore.PluralTitle(npncore.KeySandbox) %></a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyRoutes) %>">Routes</a></li>
            <li><a class="theme" href="<%= ctx.Route(npncore.KeyModules) %>">Modules</a></li>
            <li><a class="theme" href="<%= ctx.Route(`about`) %>">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
