<%: func WorkspaceUI(ctx *npnweb.RequestContext, w io.Writer) (int, error) %><!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ctx.Title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <meta property="og:title" content="<%= ctx.Title %>">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">

  <link href="/assets/vendor/<%= npncore.AppKey %>.css" rel="preload" as="style">
  <link href="/assets/vendor/vendor.js" rel="preload" as="script">
  <link href="/assets/vendor/<%= npncore.AppKey %>.js" rel="preload" as="script">
  <link href="/assets/vendor/hljs/highlight.js" rel="preload" as="script">

  <link href="/assets/vendor/<%= npncore.AppKey %>.css" rel="stylesheet">
  <script>window.initialData = { profile: <%== npncore.ToJSONCompact(ctx.Profile.ToProfile(), ctx.Logger) %> };</script>
</head>
<body class="<%= ctx.Profile.Settings.ModeCSS() %>" data-uk-height-viewport="expand: true">
  <div id="npn">
    The fastest HTTP/REST/API client app
  </div>
  <script src="/assets/vendor/vendor.js"></script>
  <script src="/assets/vendor/<%= npncore.AppKey %>.js"></script>
  <script src="/assets/vendor/hljs/highlight.js" defer="defer"></script>
  <script>init();</script>
</body>
</html>

