// Alerts
.uk-light {
  .uk-alert, .uk-alert-primary, .uk-alert-success, .uk-alert-warning, .uk-alert-danger {
    background: #222;
  }
}

// Button
.uk-button {
  text-transform: none;
}

// H4
h4 {
  margin-top: 0;
}

// Input
.uk-light {
  .uk-input, .uk-select, .uk-textarea, .uk-icon-button, .uk-checkbox, .uk-button {
    transition: none;
  }
}

// Modal
.uk-close {
  background: transparent;
}

.uk-light {
  .uk-modal-dialog, .uk-modal-header, .uk-modal-body, .uk-modal-footer {
    background: #121212;
  }

  .uk-modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .uk-modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

// Nav
.uk-nav-header {
  text-transform: none;
}

// Navbar
.uk-light {
  .uk-navbar-nav > li > a, .uk-logo {
    color: #ddd;

    &:hover {
      color: #fff;
    }
  }

  .uk-navbar-toggle-icon {
    color: #ddd;
  }
}

.uk-dark {
  .uk-navbar-nav > li > a, .uk-logo {
    color: #333;

    &:hover {
      color: #000;
    }
  }
}

.uk-navbar-nav > li > a {
  text-transform: none;
  transition: none;

  &.active {
    font-weight: bold;
  }

  padding: 0;
  margin: 0 10px;
}

.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
  min-height: 54px;
}

.uk-logo {
  img {
    height: 54px;
  }
}

.uk-navbar-item {
  // font-weight: lighter;
  &.trim {
    padding: 0;
  }
}

// Search
.uk-search-default .uk-search-input {
  border: 1px solid #999;
}

.uk-light {
  .uk-search-default .uk-search-input:focus {
    border: 1px solid #ddd;
  }
}

.uk-dark {
  .uk-search-default .uk-search-input:focus {
    border: 1px solid #444;
  }
}

// Sections
.uk-section-small {
  padding-top: 20px;
}

// Tabs
.uk-tab > * > a {
  text-transform: none;
}

// Off-canvas
.uk-light {
  .uk-offcanvas-bar {
    background: #121212;
    color: #fff;

    .uk-nav-default > li > a, .uk-nav-default .uk-nav-sub a, .uk-nav-default .uk-nav-header, h3, .uk-close {
      color: #fff;
    }
  }

  .uk-offcanvas-overlay::before {
    background: rgba(128, 128, 128, 0.4);
  }
}

.uk-dark {
  .uk-offcanvas-bar {
    background: #fff;
    color: #000;

    .uk-nav-default > li > a, .uk-nav-header, h3, .uk-close {
      color: #000;
    }

    .uk-nav-default .uk-nav-sub a, .uk-nav-default {
      color: #999;
    }
  }
}

// Comments
.uk-comment-list > :nth-child(n+2) {
  margin-top: 0;
}

// Pre
pre {
  background-color: transparent;
  border: none;
  padding: 0;
}

.uk-light {
  pre {
    color: rgba(255, 255, 255, 0.7);
  }
}

// Tables
.uk-table th {
  vertical-align: top;
  text-transform: none;
}

// Cards
.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

  .uk-card-title {
    color: #333
  }
}

.uk-light {
  .uk-card-default {
    background: #222;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    .uk-card-title {
      color: #fff;
    }
  }
}

.uk-light.uk-card-default {
  background: #222;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.uk-dark.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

// Badges
.uk-badge {
  padding: 0 7px;
}

.uk-light {
  .uk-badge {
    // background: #1e87f0;
  }
}

.uk-dark {
  .uk-badge {
    background: #aaa;
  }
}
