// Profile
.signin-icon {
  display: block;
  float: left;
  margin-top: 2px;
  margin-right: 6px;
}

.profile-image {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: -3px;
  margin-right: 6px;
}

.profile-icon {
  margin: 6px 0 0 6px;
}

.profile-picture-choice {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 16px;
}

.profile-pic {
  height: 32px;
  width: 32px;
}

.profile-title {
  padding-top: 6px;
}

.profile-remove {
  padding-top: 6px;
}

.auth-link {
  margin-top: 8px;
}

// Swatch
.vue-swatches__trigger {
  border: 1px solid #999;
}

.vue-swatches__fallback__button {
  color: #000;
  background-color: #fff;
}

.theme-section {
  margin: 12px;
}

.mockup-container {
  float: left;
}

.mockup {
  position: relative;
  width: 192px;
  height: 108px;
  font-size: 40%;
  cursor: pointer;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 108px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 16px;

    .txt {
      padding: 3px;
    }
  }

  .menu {
    position: absolute;
    top: 16px;
    left: 0;
    width: 40px;
    height: 84px;
    padding: 4px;

    a {
      display: block;
    }
  }

  .card {
    position: absolute;
    top: 24px;
    left: 56px;
    width: 128px;
    height: 44px;
    padding: 4px !important;
  }

  .button {
    position: absolute;
    top: 28px;
    left: 102px;
    padding: 2px 4px;
    line-height: normal;
    font-size: 50%;
  }
}

.mode-swatch {
  width: 42px;
  height: 42px;
  border: 1px solid #999;
  border-radius: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

// Color Picker

.vue-swatches__check__wrapper {
  position: absolute;
  width: 100%;
  height: 100%
}

.vue-swatches__check__circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .15)
}

.vue-swatches__check__path {
  fill: #fff
}

.vue-swatches__swatch {
  position: relative;
  display: inline-block;
  font-size: 0
}

.vue-swatches__swatch:focus, .vue-swatches__swatch:hover {
  opacity: .9;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .75);
  outline: none
}

.vue-swatches__swatch.vue-swatches__swatch--border, .vue-swatches__swatch.vue-swatches__swatch--selected {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .75)
}

.vue-swatches__swatch__label {
  position: absolute;
  left: 0;
  right: 0;
  color: #666;
  font-size: 10px;
  font-weight: 700;
  text-align: center
}

.vue-swatches__swatch .vue-swatches__diagonal__wrapper {
  position: absolute
}

fieldset[disabled] .vue-swatches {
  pointer-events: none
}

.vue-swatches {
  position: relative;
  display: inline-block;
  outline: none
}

.vue-swatches__trigger__wrapper {
  display: inline-block;
  cursor: pointer
}

.vue-swatches__trigger.vue-swatches--is-empty {
  border: 2px solid #ccc
}

.vue-swatches__trigger.vue-swatches--is-disabled {
  cursor: not-allowed
}

.vue-swatches__container {
  box-sizing: content-box
}

.vue-swatches__container.vue-swatches--inline {
  font-size: 0
}

.vue-swatches__container:not(.vue-swatches--inline) {
  position: absolute;
  display: block;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .2), 0 0 0 1px rgba(10, 10, 10, .2);
  z-index: 50
}

.vue-swatches__wrapper {
  background-color: inherit;
  box-sizing: content-box
}

.vue-swatches__row {
  font-size: 0
}

.vue-swatches__fallback__wrapper {
  display: table
}

.vue-swatches__fallback__input--wrapper {
  display: table-cell;
  padding-right: 10px;
  width: 100%;
  font-size: 14px
}

.vue-swatches__fallback__input {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  color: #35495e;
  background: #fff
}

.vue-swatches__fallback__button {
  display: table-cell;
  padding: 6px 15px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #3571c8;
  border-radius: 5px
}

.vue-swatches-show-hide-enter-active, .vue-swatches-show-hide-leave-active {
  transition: all .3s ease
}

.vue-swatches-show-hide-enter, .vue-swatches-show-hide-leave-active {
  opacity: 0
}

.vue-swatches--has-children-centered {
  display: flex;
  align-items: center;
  justify-content: center
}

.vue-swatches__diagonal__wrapper {
  width: 100%;
  height: 100%
}

.vue-swatches__diagonal {
  width: 75%;
  height: 75%;
  background: linear-gradient(to top right, transparent 0, transparent calc(50% - 2.4px), #de080a 50%, transparent calc(50% + 2.4px), transparent)
}
