// Content
#workspace-content {
  &.log-visible {
    padding-bottom: 240px;
  }
}

@media (min-width:960px) {
  #workspace-content {
    padding-left:240px
  }
}

// Left Nav
#nav-left {
  position: fixed;
  top: 54px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 20px;
  overflow: auto;
}

// Nav Items
.nav-section {
  .nav-header {
    padding: 4px 0;
    cursor: default;
  }
  .nav-list {
    .nav-item {
      margin-top: 4px;
    }
  }
}

.nav-link {
  margin-top: 6px;
}

// Icons
.uk-icon {
  width: 20px;
  height: 20px;
}

.nav-icon {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.nav-icon-h3 {
  float: left;
  margin: 6px 6px 0 0;
  width: 24px;
  height: 24px;
}

// Log Panel
#log-container {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 240px !important;
  width: 100%;
}

@media (min-width:960px) {
  #log-container {
    padding-left:240px;
  }
}

#log-content {
  height: 240px !important;
  overflow: auto;
}

.uk-light {
  #log-content {
    border-top: 1px solid #444;
    background-color: #121212;
  }
}

.uk-dark {
  #log-content {
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
}

#log-list {
  padding: 32px;
  margin-bottom: 0;
}

.log-level {
  float: left;
  margin-right: 8px;
}

.log-timestamp {
  float: right;
  margin-left: 8px;
}

// Nav
.nav-request-link {
  margin-left: 12px;
  a.router-link-active {
    font-weight: bold;
  }
}

.left-nav {
  margin-top: 24px;
}

.collection-link.router-link-active {
  font-weight: bold;
}

.req-link.router-link-active {
  font-weight: bold;
}

// Search
.search-result {
  .match {
    padding: 6px 0 0 0;
  }
}

// Body
.raw-content {
  margin: 0;
  padding-bottom: 6px;
  white-space: pre-wrap;
  word-break: break-all;
}
