@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

@import "overrides";
@import "common";

// URL
.url-view {
  div {
    padding-top: 8px;
    padding-left: 11px;
  }
  a {
    padding-top: 8px;
  }
  .url-link {
    cursor: pointer;
  }
}

// Timing
.result-timing-graph {
}

.chart-tooltip {
  position: absolute;
  display: none;
}

.timing-start {
  float: left;
  border-left: 1px solid #666;
  padding-left: 4px;
  padding-bottom: 4px;
}

.timing-end {
  float: right;
  border-right: 1px solid #666;
  padding-right: 4px;
  padding-bottom: 4px;
}

// Editor
.uk-dark {
  .code-editor, .image-body {
    border: 1px solid #dddddd;
  }
}

.uk-light {
  .code-editor, .image-body {
    border: 1px solid #333333;
  }
}

.image-body {
  padding: 12px;
}

// Export
.export-result {
  padding: 12px;
  border: 1px solid #dddddd;
}

// Navbar
@media only screen and (max-width: 600px) {
  .header-optional {
    display: none;
  }
}

@import "form";
@import "tags";
@import "profile";
@import "marketing";
@import "workspace";
@import "codemirror";
