@import "colors.scss";
@import "overrides.scss";
@import "common.scss";

.uk-light {
  #logo-symbol {
    stroke: #ddd !important;
  }
}

.uk-dark {
  #logo-symbol {
    stroke: #333 !important;
  }
}

// Timing
.result-timing-graph {
}

.chart-tooltip {
  position: absolute;
  display: none;
}

.timing-start {
  float: left;
  border-left: 1px solid #666;
  padding-left: 4px;
  padding-bottom: 4px;
}

.timing-end {
  float: right;
  border-right: 1px solid #666;
  padding-right: 4px;
  padding-bottom: 4px;
}

@import "form.scss";
@import "tags.scss";
@import "profile.scss";
@import "workspace.scss";
