@import "colors.scss";
@import "overrides.scss";
@import "common.scss";

.uk-light {
  #logo-symbol {
    stroke: #ddd !important;
  }
}

.uk-dark {
  #logo-symbol {
    stroke: #333 !important;
  }
}

// Timing
.result-timing-graph {
}

.chart-tooltip {
  position: absolute;
  display: none;
}

@import "form.scss";
@import "tags.scss";
@import "profile.scss";
@import "workspace.scss";
