<%: func Head(ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<title><%= ctx.Title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

<meta property="og:title" content="<%= ctx.Title %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">

<% for _, ss := range npncore.IncludedStylesheets { %><link rel="stylesheet" media="screen" href="<%= ss %>">
<% } %><link rel="stylesheet" media="screen" href="/assets/vendor/<%= npncore.AppKey %>.css">
<% for _, scr := range npncore.IncludedScripts { %><script src="<%= scr %>"></script>
<% } %><script src="/assets/vendor/<%= npncore.AppKey %>.js"></script>
