<%: func Head(ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<title><%= ctx.Title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

<meta property="og:title" content="<%= ctx.Title %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">

<link rel="stylesheet" media="screen" href="/vendor/uikit/uikit.min.css">
<script src="/vendor/uikit/uikit.min.js"></script>
<script src="/vendor/uikit/uikit-icons.min.js"></script>

<% if ctx.App.Debug() { %>
<link rel="stylesheet" media="screen" href="/assets/vendor/<%= npncore.AppKey %>.css">
<script src="/assets/vendor/<%= npncore.AppKey %>.js"></script>
<% } else { %>
<link rel="stylesheet" media="screen" href="/assets/vendor/<%= npncore.AppKey %>.min.css")>
<script src="/assets/vendor/<%= npncore.AppKey %>.min.js"></script>
<% } %>
