<%: func InternalServerError(ed *npncore.ErrorDetail, r *http.Request, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div>
      <h1 class="uk-heading-hero"><%= ed.Message %></h1>
      <div class="uk-text-lead">Internal Server Error</div>
      <% errorStack(ed, ctx, _buffer) %>
    </div>
    <% cause := ed.Cause %>
    <% for cause != nil { %>
      <div class="uk-text-lead">Caused by</div>
      <div class="uk-text-lead"><%= cause.Message %></div>
      <% errorStack(cause, ctx, _buffer) %>
      <% cause = cause.Cause %>
    <% } %>
  </div>
</div>
<% } %>
