<%: func OptionFields(opts *request.Options, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<% if opts == nil { opts = &request.Options{} } %>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.timeout">Timeout</label>
  <input class="uk-input" id="opt.timeout" name="opt.timeout" type="number" value="<%=v opts.Timeout %>" />
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.ignoreRedirects">Ignore Redirects</label>
  <% npntemplate.InputBool("opt.ignoreRedirects", opts.IgnoreRedirects, buffer) %>
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.ignoreReferrer">Ignore Referrer</label>
  <% npntemplate.InputBool("opt.ignoreReferrer", opts.IgnoreReferrer, buffer) %>
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.ignoreCerts">Ignore Certs</label>
  <% npntemplate.InputBool("opt.ignoreCerts", opts.IgnoreCerts, buffer) %>
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.excludeDefaultHeaders">Exclude Default Headers</label>
  <input class="uk-input" id="opt.excludeDefaultHeaders" name="opt.excludeDefaultHeaders" type="text" value="<%=v opts.ExcludeDefaultHeaders %>" />
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.readCookieJars">Read Cookie Jars</label>
  <input class="uk-input" id="opt.readCookieJars" name="opt.readCookieJars" type="text" value="<%=v opts.ReadCookieJars %>" />
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.writeCookieJar">Write Cookie Jar</label>
  <input class="uk-input" id="opt.writeCookieJar" name="opt.writeCookieJar" type="text" value="<%=v opts.WriteCookieJar %>" />
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.sslCert">SSL Cert</label>
  <input class="uk-input" id="opt.sslCert" name="opt.sslCert" type="text" value="<%=v opts.SSLCert %>" />
</div>
<div class="uk-margin-top">
  <label class="uk-form-label" for="opt.userAgentOverride">User Agent Override</label>
  <input class="uk-input" id="opt.userAgentOverride" name="opt.userAgentOverride" type="text" value="<%=v opts.UserAgentOverride %>" />
</div>
