<%: func PrototypeFields(key string, proto *request.Prototype, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-margin-top">
  <label class="uk-form-label" for="method">Method</label>
  <select class="uk-select" id="method" name="method">
  <% for _, m := range request.AllMethods { %>
    <% if m.Key == proto.Method.Key { %>
      <option selected="selected"><%= m.Key %></option>
    <% } else { %>
      <option><%= m.Key %></option>
    <% } %>
  <% } %>
  </select>
</div>

<div class="uk-margin-top">
  <label class="uk-form-label" for="<%= key %>-url">URL</label>
  <input class="uk-input" id="<%= key %>-url" name="url" type="text" value="<%= proto.URLString() %>" />
</div>

<% AuthFields(key, proto.Auth, ctx, buffer) %>
<% QueryParamFields(key, proto.Query, ctx, buffer) %>
<% HeaderFields(key, proto.Headers, ctx, buffer) %>
<% BodyFields(key, proto.Body, ctx, buffer) %>
<% OptionFields(key, proto.Options, ctx, buffer) %>

<script>window.addEventListener("load", function() { request.editor.wireForm('<%= key %>'); }, false)</script>
