<%: func ViewBody(bd *body.Body, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-card-default uk-margin-top">
  <h3 class="uk-card-title">Body</h3>
    <% if bd == nil { %>
      <p>no body</p>
    <% } else { %>
      <h4><%= bd.Type %></h4>
      <% switch bd.Type { %>
      <% case body.KeyJSON: %>
        <pre><code><%= bd.Config.String() %></code></pre>
      <% case body.KeyHTML: %>
        <pre><code><%= bd.Config.String() %></code></pre>
      <% default: %>
        <%= bd.String() %>
      <% } %>
    <% } %>
  </ul>
</div>
