<%: func StaticAbout(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <div class="right">
        <a class="theme uk-icon-button" data-uk-icon="github-alt" href="https://github.com/kyleu/npn" title="source code and docs"></a>
      </div>
      <h3 class="uk-card-title">About <%= npncore.AppName %></h3>
      <div class="mt">
        <ul data-uk-tab>
          <li class="uk-active"><a href="#">Overview</a></li>
          <li><a href="#">Usage</a></li>
          <li><a href="#">App</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
          <li><% AboutOverview(ctx, _buffer) %></li>
          <li><% AboutUsage(ctx, _buffer) %></li>
          <li><% AboutApp(ctx, _buffer) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% } %>
