<%: func TaskForm(p *project.Project, td *project.TaskDefinition, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <form class="uk-form-horizontal" action="<%= ctx.Route(`project.task.save`, npncore.KeyKey, p.Key, `task`, td.Key) %>" method="post">
        <input name="taskType" type="hidden" value="<%= td.T %>">
        <div>
          <label class="uk-form-label" for="form-taskKey">Key</label>
          <div class="uk-form-controls">
            <%
              taskKey := ""
              if td.Key != "new" {
                taskKey = td.Key
              }
            %>
            <input name="originalTaskKey" type="hidden" value="<%= taskKey %>">
            <input class="uk-input" id="form-newTaskKey" name="newTaskKey" type="text" placeholder="Task Key" value="<%= taskKey %>">
          </div>
        </div>
        <% taskDef := task.FromString(td.T) %>
        <% for _, opt := range taskDef.Options() { %>
          <div class="uk-margin-top">
            <label class="uk-form-label" for="form-opt-<%= opt.Key %>"><%= opt.Key %></label>
            <div class="uk-form-controls">
              <%
                switch opt.T {
                  case "schema":
                    %><% TaskOptionSchema(p.SchemaKeys, opt, td.Options.GetStringArray(opt.Key), ctx, _buffer) %><%
                  default:
                    %><% TaskOptionString(opt, td.Options.GetString(opt.Key), ctx, _buffer) %><%
                }
              %>
            </div>
          </div>
        <% } %>
        <div class="uk-margin-top">
          <a href="<%= ctx.Route(`project.task.delete`, npncore.KeyKey, p.Key, `task`, td.Key) %>" class="left theme" data-uk-icon="trash" onclick="return confirm('Delete this task?')"></a>
          <button type="submit" class="right uk-button uk-button-default">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
