<%: func TaskForm(p *project.Project, td *project.TaskDefinition, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <form class="uk-form-horizontal" action="<%= ctx.Route(util.KeyProject + `.` + util.KeyTask + `.save`, util.KeyKey, p.Key, util.KeyTask, td.Key) %>" method="post">
        <input name="taskType" type="hidden" value="<%= td.T %>">
        <div>
          <label class="uk-form-label" for="form-taskKey">Key</label>
          <div class="uk-form-controls">
            <%
              taskKey := ""
              if td.Key != "new" {
                taskKey = td.Key
              }
            %>
            <input name="originalTaskKey" type="hidden" value="<%= taskKey %>">
            <input class="uk-input" id="form-newTaskKey" name="newTaskKey" type="text" placeholder="Task Key" value="<%= taskKey %>">
          </div>
        </div>
        <% taskDef := task.FromString(td.T) %>
        <% for _, opt := range taskDef.Options() { %>
          <div class="uk-margin-top">
            <label class="uk-form-label" for="form-opt-<%= opt.Key %>"><%= opt.Key %></label>
            <div class="uk-form-controls">
              <%
                curr := td.Options.GetString(opt.Key)
              %>
              <input class="uk-input" id="form-opt-<%= opt.Key %>" name="opt-<%= opt.Key %>" type="text" placeholder="<%= opt.Key %>" value="<%= curr %>">
            </div>
          </div>
        <% } %>
        <div class="uk-margin-top">
          <button type="submit" class="right uk-button uk-button-default">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
