<%: func TaskOutput(ar task.FileResults, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-margin-top">
  [<a class="theme" href="" onclick="dom.els('.written').forEach(function(e) {dom.setDisplay(e, true)});return false;"><%= npncore.FormatInteger(ctx.Profile.Locale, ar.WrittenCount()) %></a>] files written,
  [<a class="theme" href="" onclick="dom.els('.dupe').forEach(function(e) {dom.setDisplay(e, true)});return false;"><%= npncore.FormatInteger(ctx.Profile.Locale, ar.SkippedCount()) %></a>] skipped
</div>
<ul data-uk-accordion="multiple: true">
  <% for _, ao := range ar { %>
    <%
      cls := "dupe"
      if ao.Written {
        cls = "written"
      }
    %>
    <li class="hidden <%= cls %>">
      <a class="uk-accordion-title" href="#">
        <% if ao.File == nil { %>System<% } else { %><%= ao.File.Path() %><% } %>
        <% if ao.Written { %>
        <br />
        <em><%= ao.Message %></em>
        <% } %>
      </a>
      <div class="uk-accordion-content">
        <pre><% if ao.File == nil { %>TODO<% } else { %><%= strings.Join(ao.File.Render(), "\n") %><% } %></pre>
      </div>
    </li>
  <% } %>
</ul>

